input,
button {
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px solid black;
    padding: 2px;
}

table tr td:first-child {
    width: 15%;
}

table tr td:not(:first-child) {
    width: calc((100% - 15%) / 5);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a-link {
    text-align: right;
}


.area {
    border: 1px solid black;
    text-align: center;
}

.init {
    text-align: center;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}